.quitSideBar{
    i{
        font-size: 1.2rem;
    }

    i:hover{
        font-size: 1.3rem;
        cursor: pointer;
    }
}

#arrow{
    height: 100vh;
    i{
        font-size: 4.3rem;
    }

    i:hover{
        cursor: pointer;
        font-size: 5rem;
    }
}

section{
    .card:hover{
        background-color: #4052b5;
        color: white;
        -webkit-transition: 0.3s all;
        transition: 0.3s all;
        border: 2px solid #fff;
    }

    .card:hover img{
        border: 2px solid white;
    }

    .card i{
        visibility: hidden;
    }

    .card:hover i{
        visibility: visible;
    }

    .card:hover i:hover{
        cursor: pointer;
        font-size: 1.2rem;
    }
}

#admin-manager-container{
    .row{
        .d-flex{
            .d-flex{
                .fa-plus{
                    font-size: 2.4rem; 
                    color: #3f51b5;
                    transition: 0.5s all;
                }
                .fa-plus:hover{
                    position: relative;
                    transform: rotate(360deg * 2);
                    font-size: 2.6rem;
                    cursor: pointer;
                }
            }
        }
    }

    form{
        .inputVal{
            margin-top: -5px;
        }
    }
}