<!--Card-->
<div class="card">

  <!--Card image-->
  <div class="view overlay waves-light" mdbWavesEffect>
    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid " alt="">
    <div class="mask flex-center rgba-blue-light">
      <p class="white-text">About Us</p>
    </div>
  </div>

  <!--Card content-->
  <div class="card-body">
    <!--Title-->
    <h4 class="card-title">About us</h4>
    <!--Text-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<!--/.Card-->