@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

.inputVal{
    top: 45px !important;
}

.text-danger_ex{
    color: #ff4444;
}

.text-success_ex{
    color: #00C851;
}